# Project exclude paths
/target/
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/.gitignore
/algorithms.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
